.header__lang-link {
    color: #fff;
    min-height: 28px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    display: inline-block;
    text-decoration: none;
}

/* .header__lang-link:last-of-type {
    text-decoration: none;
} */

.header__lang-link:hover {
    color: #FFFFFF;
    opacity: 0.8;
}

@media screen and (max-width: 320px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}