
.page {
    max-width: 1280px;
    box-sizing: border-box;
    height: 100vh;
    margin: 0px auto;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    background-color: #2a2c2f;
    color: #fff;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}