.photo-grid {
    /*max-width: 1184px;*/
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px 48px;
}
@media screen and (max-width: 1024px) {
    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 14px;
    }
}
@media screen and (max-width: 768px) {
    .photo-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 16px;
        margin: 0px 24px;
    }
}
@media screen and (max-width: 320px) {
    .photo-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 1fr);
        gap: 12px;
        margin: 0px 16px;
    }
}