.page {
    max-width: 1280px;
    height: 100vh;
    margin: 0px auto;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    background-color: #2a2c2f;
    color: #fff;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 28px 48px 0px;
    box-sizing: border-box;
    max-width: 1184px;
    align-items: flex-end;
}
.header__lang-link {
    color: #fff;
    min-height: 28px;
    max-width: 30px;
    margin-right: 18px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    display: inline-block;
}
.header__lang-link:last-of-type {
    text-decoration: none;
    width: 29px;
    margin-right: 0px;
}

.content {
    margin: 0 auto;
}

.lead {
    max-width: 984px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin: 56px auto 0px;
}
.lead__title {
    text-align: center;
    margin: 0;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    text-align: center;
    display: block;
    max-width: 720px;
}
.lead__subtitle {
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    display: block;
    max-width: 640px;
    margin: 32px auto 64px;
}

.lead__image {
    max-width: 100%;
}

.lead__caption {
    align-self: start;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    margin: 8px 0px 0px;
}

.intro {
    box-sizing: border-box;
    /* max-width: 690px;*/
    width: calc(100%+2*(442px+148px));
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /*margin: 114px 442px 92px 148px;*/
    margin: 0px;
    padding: 114px 442px 92px 148px;

}

.intro__title {
    margin: 0px;
    font-size: 54px;
    font-weight: 900;
    line-height: 58px;
    text-align: left;
}

.intro__text {
    margin: 40px 0px 33px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

.intro__list {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.intro__list-text {
    margin: 0px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}

.photo-grid {
    /*max-width: 1184px;*/
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px 48px;
}

.photo-grid__item {
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
}

.places {
    max-width: 100%;
    box-sizing: border-box;
    padding: 92px 148px;
    margin: 0px;
}

.place {
    box-sizing: border-box;
    list-style: none;
    padding: 0px;
    margin: 0px;
    width: 100%;
    display: grid;
    grid-template-columns: minmax(min-content, 460px) 1fr;
    grid-template-rows: repeat(10, minmax(min-content, max-content));
    column-gap: 40px;
    row-gap: 48px;
}


.place__image {
    max-width: 100%;
    height: auto;
}



.place__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: left;
    margin: 0px;
}

.place__website {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0px;
    width: 100%;
    height: 100%;
}


.place__url-heading {
    box-sizing: border-box;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 2px;
    text-align: left;
    padding: 0px 0px 12px;
    color: #AAAAAA;
    margin: 0px;
}

.place__link {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0em;
    text-align: left;
    margin: 0px;
}

.place__link:hover {
    color: #FFFFFF;
    opacity: 0.8;
}

.place__paragraphs {
    height: 100%;
    width: 100%;
}

.place__paragraph {
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0px;
    padding: 0px 0px 26px;
}

.cover {
    margin: 0px auto;
    max-width: 1184px;
    box-sizing: border-box;

}

.cover__backrgound {
    background-image: url("./images/cover-trains.jpg");
    max-width: 100%;
    margin: 0px auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    aspect-ratio: 1/0.625;
}

.cover__title {
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    max-width: 560px;
    margin: 0px auto;
    padding: 245px 0px 32px;
}

.cover__subtitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    max-width: 360px;
    margin: 0px auto;
}

.cover__link {
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;

}

.cover__link:hover {
    background-color: rgba(42, 44, 47, 0.8);
}

.footer {
    box-sizing: border-box;
    max-width: 1184px;
    margin: 92px 48px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__menu {
    list-style: none;
    display: flex;
}

.footer__link {
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 18px;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    display: block;
}

.footer__copyright {
    margin: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
}

@media screen and (max-width: 1024px) {
    .header {
        margin: 28px 48px 0px;
    }

    .lead {
        margin: 48px 48px 0px;
    }

    .intro {
        /* margin: 114px 286px 92px 48px;*/
        padding: 114px 286px 92px 48px;
    }

    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 14px;
    }

    .places {
        padding: 92px 48px;
    }

    .place {
        column-gap: 32px;
        grid-template-columns: minmax(min-content, 440px) 1fr;
    }

    .cover__title {
        padding: 195px 0px 32px;
    }

}


@media screen and (max-width: 768px) {
    .header {
        margin: 28px 24px 0px;
    }

    .lead {
        margin: 48px 0px 0px;
    }

    .lead__title {
        font-size: 40px;
        line-height: 44px;
    }

    .lead__caption {
        margin: 8px 0px 0px 24px;
    }

    .intro {
        /*margin: 110px 24px 88px;*/
        padding: 110px 24px 88px;
        /* max-width: 720px;*/
    }

    .photo-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 16px;
        margin: 0px 24px;
    }

    .places {
        padding: 88px 28px;
    }

    .place {
        column-gap: 28px;
        grid-template-columns: minmax(min-content, 340px) 1fr;
    }

    .place__title {
        font-weight: 900;
        font-size: 42px;
        line-height: 46px;
    }

    .cover__title {
        padding: 115px 0px 32px;
    }

    .footer {
        margin: 88px 24px 24px;
    }

}

@media screen and (max-width: 600px) {
    .cover__backrgound {
        background-image: url("./images/cover-trains320.jpg");
    }

    .cover__title {
        font-size: 32px;
        line-height: 35px;
        letter-spacing: 0em;
    }

    .footer {
        max-width: 186px;
        margin: 64px 118px 16px;
        display: flex;
        flex-direction: column;
    }

    .footer__menu {
        flex-direction: column;
        width: 186px;
    }

    .footer__link {
        margin: 0px 0px 32px;
    }

    .footer__copyright {
        margin: 48px 0px 0px;
        width: 186px;
    }

    .place {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(10, minmax(min-content, max-content));
        gap: 32px;
    }

    .place__title {
        font-weight: 900;
        font-size: 32px;
        line-height: 36px;
        padding: 0px 16px;
    }

    .place__paragraphs {
        padding: 0px 16px;
    }

    .place__website {
        padding: 0px 16px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        margin: 16px 16px 0px;
    }

    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
        margin: 48px 0px 0px;
    }

    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
    }

    .intro {
        /* margin: 86px 16px 64px;
    max-width: 288px;*/
        padding: 86px 16px 64px;
    }

    .intro__title {
        font-size: 32px;
        line-height: 35px;
    }

    .photo-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 1fr);
        gap: 12px;
        margin: 0px 16px;
    }

    .places {
        padding: 64px 0px 0px;
    }

    .cover__title {
        padding: 33px 0px 16px;
        max-width: 250px;
    }

    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
    }
}