.footer__menu {
    list-style: none;
    display: flex;
}
 @media screen and (max-width: 720px) {
    .footer__menu {
        flex-direction: column;
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
}