.intro {
    box-sizing: border-box;
    /* width: calc(100% + 2 * (442px + 148px)); */
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px;
    padding: 92px 442px 92px 148px;
}
@media screen and (max-width: 1024px) {
    .intro {
        padding: 92px 286px 92px 48px;
    }
}
@media screen and (max-width: 768px) {
    .intro {
        padding: 88px 24px;
    }
}
@media screen and (max-width: 320px) {
    .intro {
        /* margin: 86px 16px 64px;
    max-width: 288px;*/
        padding: 86px 16px 64px;
    }
}
