.intro {
    box-sizing: border-box;
    /* max-width: 690px;*/
    width: calc(100% + 2 * (442px + 148px));
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /*margin: 114px 442px 92px 148px;*/
    margin: 0px;
    padding: 114px 442px 92px 148px;
}
@media screen and (max-width: 1024px) {
    .intro {
        /* margin: 114px 286px 92px 48px;*/
        padding: 114px 286px 92px 48px;
    }
}
@media screen and (max-width: 768px) {
    .intro {
        /*margin: 110px 24px 88px;*/
        padding: 110px 24px 88px;
        /* max-width: 720px;*/
    }
}
@media screen and (max-width: 320px) {
    .intro {
        /* margin: 86px 16px 64px;
    max-width: 288px;*/
        padding: 86px 16px 64px;
    }
}
