.lead__subtitle {
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    display: block;
    max-width: 640px;
    margin: 32px auto 64px;
}
@media screen and (max-width: 320px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
    }
}