.place {
    box-sizing: border-box;
    list-style: none;
    padding: 0px;
    margin: 0px;
    width: 100%;
    display: grid;
    grid-template-columns: minmax(min-content, 460px) 1fr;
    grid-template-rows: repeat(10, minmax(min-content, max-content));
    column-gap: 40px;
    row-gap: 48px;
}
@media screen and (max-width: 1024px) {
    .place {
        column-gap: 32px;
        grid-template-columns: minmax(min-content, 440px) 1fr;
    }
}
@media screen and (max-width: 768px) {
    .place {
        column-gap: 28px;
        grid-template-columns: minmax(min-content, 340px) 1fr;
    }
}
@media screen and (max-width: 600px) {
    .place {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(10, minmax(min-content, max-content));
        gap: 32px;
    }
}