.footer {
    box-sizing: border-box;
    max-width: 1184px;
    margin: 92px 48px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 768px) {
    .footer {
        margin: 88px 24px 24px;
    }
}
@media screen and (max-width: 720px) {
    .footer {
        max-width: 186px;
        margin: 64px 118px 24px 16px;
        display: flex;
        flex-direction: column;
    }
}